*{
    margin: 0;
    padding:0;
}
@font-face{
    font-family: Letra;
    src: url("aAtmospheric.ttf");
}

/*---------------------------------------------------------------PC--------------------------------------------------*/
header{
    background-color: #FFF;
    height: 50px;
    align-items: center;
}
.logo{
    float: left;
}
.logo a img{
    height: 70px;
    margin-top: 5px;
    margin-left: 25px;
}
.redes li{
    list-style: none;
    display: inline;
    justify-content: space-between;
}
.redes li a img{
    width: auto;
    height: 50px;
}
body{
    background-color: #000;
}
.titulo-header{
    margin-top: 10px;
    height: 80px;
    background-color: #FFF;
    border-radius: 30px;
    width: 98%;
    margin-left: 1%;
    justify-content: center;
}
.titulo-header h1{
    text-align: center;
    font-size: 25px;
    font-family: Letra;
    /* background-color: #000; */
    color: #000;
    padding: 30px 0;
}

.menu ul{
    list-style: none;
    font-family: Letra;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 15%;
    line-height: 78px;
    background-color: #000;
    float: left;
  }
  .menu li a{
    display: block;
    color: #FFF;
    padding: 0px 12px;
    text-decoration: none;
  }
  .menu li a:hover{
    background-color: #272626;
  }
.contenedor{
    max-width: 1400px;
    padding: 10px;
    margin: auto;
    align-items: center;
    margin-top: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
    background-color: #000;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    background-color: #FFF;
    margin: auto;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-family: Letra;
    margin-top: 5px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* seccion carrito */
.carrito{
    border: 1px solid #000;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
    border: 1px solid #FFF;
}
.carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    font-family: Letra;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #000;
    padding: 20px;
    background-color: #FFF;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 1px;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
    font-family: Letra;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #000;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Letra;
    color: #FFF;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 5px;
    font-size: 18px;
    font-family: Letra;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}
.carrito-total a{
    text-decoration: none;
    list-style: none;
}

.whatsapp img{
    height: 0;
    width: 0;
  }

/* SECCION RESPONSIVE */
@media (max-width: 1150px) {
    .titulo-header{
        margin-top: 10px;
    }
    .menu ul{
        margin-right: -80%;
    }
    .contenedor {
      display: flex;
      background-color: #000;
      
    }
    .contenedor-items{
        width: 100% !important;
    }
    .item{
        background-color: #FFF;
    }
    .carrito{
        width: 100%;
    }
    .menu li{
        color: transparent;
        font-size: 0;
        float: left;
        margin: 0;
    }
    .whatsapp{
        position: fixed;
        right: 10px;
        bottom: 10px;
        z-index: 1;
    }
    .whatsapp img{
        height: 50px;
    }
  }