*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 


/*-----------RESPONSIVE DE LA PÁGINA------------*/

/*CELULAR*/ 
@media(max-width:575.98px) and (orientation:portrait){
  .logo a img{
    height: 50px;
  }
  #redes .redes li{
    float: left;
    list-style: none;
    display: inline;
    justify-content: space-between;
  }
  .redes a img{
    height: 15px;
    width: auto;
  }
  a .botón button{
    margin-right: 0;
    padding: 0;
  }
  .botón button img{
    height: 15px;
    margin-right:0;
  }

  /*BARRA LATERAL*/
  .menu li{
    color: transparent;
    font-size: 0;
    float: left;
  }
  body{
    background-color: #000;
  }
.precios{
  margin-top: 10px;
  background-color: #f0f0f0;
  height: 850px;
  width: 90%;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 25px;
  padding: 20px;
  float: right;
  text-align: center;
  align-items: center;

}
.precios img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img1{
  background-color: #000;
  border-radius:20px;
  border:2px solid #000;
  width: 135px;
  color: #FFF;
  font-family: Letra;
  font-size: 15px;
  text-align: center;
  align-items: center;
  margin-left: 23%;
  margin-top: 2%;
}
.img1 img{
  height: 20vh;
}

.img2{
  background-color: #000;
  border-radius:20px;
  border:2px solid #000;
  width: 135px;
  color: #FFF;
  font-family: Letra;
  font-size: 15px;
  text-align: center;
  align-items: center;
  margin-left: 23%;
  margin-top: 2%;
}
.img2 img{
  height: 20vh;
}
.img3{
  background-color: #000;
  border-radius:20px;
  border:2px solid #000;
  width: 135px;
  color: #FFF;
  font-family: Letra;
  font-size: 15px;
  text-align: center;
  align-items: center;
  margin-left: 23%;
  margin-top: 2%;
}
.img3 img{
  height: 20vh;
}
.img4{
  background-color: #000;
  border-radius:20px;
  border:2px solid #000;
  width: 135px;
  color: #FFF;
  font-family: Letra;
  font-size: 15px;
  text-align: center;
  align-items: center;
  margin-left: 23%;
  margin-top: 2%;
}
.img4 img{
  height: 20vh;
}

.vermas{
  margin-top: 10%;
  text-align: center;
  align-items: center;
}
.vermas button a{
  text-decoration: none;
  padding: 18px;
  border: 2px solid #FFF;
  font-family: Letra;
  color: #FFF;
  font-size: 10px;
  background-color: #000;
}
 
}

/*TABLET*/
@media(min-width:576px) and (max-width:991.82px) and (orientation:portrait){
  body{
    background-color: #000;
  }


  header .logo img{
    height: 60px;
  }

  header .botón button img{
    height: 40px;
  }

  /*BARRA LATERAL*/

  .menu li{
    color: transparent;
    font-size: 0;
    float: left;
  }
 
.precios{
  margin-top: 10px;
  font-family: Letra;
  color: #FFF;
  background-color: #f0f0f0;
  height: 450px;
  width: 90%;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 25px;
  padding: 20px;
  float: right;
  text-align: center;
  align-items: center;
}
.precios img{
  height: 145px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.img1{
  border-radius: 20px;
  background-color: #000;
  height: 170px;
  width: 115px;
  border: 2px solid #000;
  margin-bottom: 10px;
  margin-right: 3px;
  float: left;
}
.img2{
  border-radius: 20px;
  background-color: #000;
  height: 170px;
  width: 115px;
  border: 2px solid #000;
  margin-bottom: 10px;
  margin-right: 3px;
  float: left;
}
.img3{
  border-radius: 20px;
  background-color: #000;
  height: 170px;
  width: 115px;
  border: 2px solid #000;
  margin-bottom: 10px;
  margin-right: 3px;
  float: left;
}
.img4{
  border-radius: 20px;
  background-color: #000;
  height: 170px;
  width: 115px;
  border: 2px solid #000;
  margin-bottom: 10px;
  margin-right: 3px;
  float: left;
}

.vermas{
  margin-top: 20px;
  text-align: center;
  align-items: center;
}
.vermas button a{
  text-decoration: none;
  padding: 18px;
  border: 2px solid #FFF;
  font-family: Letra;
  color: #FFF;
  font-size: 10px;
  background-color: #000;
}

}


  .menu li a:hover{
  background-color: #181818;
  }

  

/*ESCRITORIO*/

@media (min-width:882px){
  body{background-color: #000;}
  /*BARRA LATERAL*/
  .botón img{
    height: 40px;
  }
.menu ul{
  list-style: none;
  font-family: Letra;
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 15%;
  line-height: 81px;
  background-color: #000;
  float: left;
}
.menu li a{
  display: block;
  color: #FFF;
  padding: 0px 16px;
  text-decoration: none;
}
.menu li a:hover{
  background-color: #181818;
}

.precios{
  background-color: #FFF;
  margin-top: 40px;
  margin-right: 1%;
  margin-left: 16%;
  height: 600px;
  text-align: center;
  align-items: center;
  border-radius: 25px;
}
.img1{
  float: left;
  padding-top: 10px;
  margin-top: 3%;
  margin-left: 5.5%;
  font-family: Letra;
  font-weight: 700;
  color: #000;
}
.img1 img{
  height: 46vh;
}


.img2{
  float: left;
  padding-top: 10px;
  margin-top: 3%;
  margin-left: 1%;
  font-family: Letra;
  font-weight: 700;
  color: #000;
}

.img2 img{
  height: 46vh;
}
.img3{
  float: left;
  padding-top: 10px;
  margin-top: 3%;
  margin-left: 1%;
  font-family: Letra;
  font-weight: 700;
  color: #000;

}

.img3 img{
  height: 46vh;
}
.img4{
  float: left;
  padding-top: 10px;
  margin-top: 3%;
  margin-left: 1%;
  font-family: Letra;
  font-weight: 700;
  color: #000;
}
.img4 img{
  height: 46vh;
}


.vermas{
  margin-top: 6%;
  text-align: center;
  align-items: center;
}
.vermas button a{
  text-decoration: none;
  padding: 25px;
  border: 2px solid #FFF;
  font-family: Letra;
  color: #FFF;
  font-size: 20px;
  background-color: #000;
}
.vermas button:hover{
  transform: scale(1.1);
}
}


/*LETRA*/
@font-face{
  font-family: Letra;
  src: url("aAtmospheric.ttf");
}

  /*BARRA SUPERIOR*/
  header{
    background-color: #FFF;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 7%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
  }
  .logo img{
    height: 100px;
    width: auto;
    transition: all 0.3s;
    margin-top: 20px;
  }
  .logo img:hover{
    transform: scale(1.1);
  }
  
  .links{
    list-style: none;
  }
  .links li{
    display: inline-block;
    padding: 0 20px;
  }
  .links li:hover{
    transform: scale(1.1);
  }
  .links a{
    color: #000;
    text-decoration: none;
  }
  .botón button{
    padding: 9px 25px;
    background-color:#FFF;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .botón button:hover{
    transform: scale(1.1);
  }
  /*FIN BARRA SUPERIOR*/

  

/*REDES*/
.redes{
  text-align: center;
  align-items: center;
  width: auto;
  margin-top: 0;
}
.redes li{
  list-style: none;
  text-decoration: none;
  display: inline;
}
.redes img{
  width: 20px;
  margin: 5px;
}

/*LINKS A OTRAS REMERAS*/

.linksremeras li a:hover{
  color: #afa3a3;
  transition: all 0.3s;
}

