*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 


/*-----------RESPONSIVE DE LA PÁGINA------------*/

/*CELULAR*/ 
@media(max-width:575.98px) and (orientation:portrait){
  .logo a img{
    height: 50px;
  }
  #redes .redes li{
    float: left;
    list-style: none;
    display: inline;
    justify-content: space-between;
  }
  .redes a img{
    height: 15px;
    width: auto;
  }
  a .botón button{
    margin-right: 0;
    padding: 0;
  }
  .botón button img{
    height: 15px;
    margin-right:0;
  }

  /*BARRA LATERAL*/
  .menu li{
    color: transparent;
    font-size: 0;
    float: left;
  }
  body{
    background-color: #000;
  }
  .linksremeras{
    background-color: #FFF;
    height: 90px;
    width: 90%;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 25px;
    padding: 20px;
    float: right;
    align-items: center;
    text-align: center;
  }
  .linksremeras li{
  list-style: none;
  display: inline;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 5px;
}
.linksremeras li a{
  text-decoration: none;
  color: #000;
  font-family:'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 15px;
}

.precios{
  margin-top: 10px;
  background-color: #f0f0f0;
  height: 610px;
  width: 90%;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 25px;
  padding: 20px;
  float: right;
  text-align: center;
  align-items: center;
}
.precios img{
  height: 150px;
}
.img1{
  border:2px solid #000;
  background-color: #000;
  color: #FFF;
  font-family: Letra;
  font-size: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img1 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img2{
  border: 2px solid #000;
  background-color: #000;
  color: #FFF;
  font-family: Letra;
  font-size: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img2 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img3{
  border: 2px solid #000;
  background-color: #000;
  color: #FFF;
  font-family: Letra;
  font-size: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img3 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img4{
  border: 2px solid #000;
  background-color: #000;
  color: #FFF;
  font-family: Letra;
  font-size: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img4 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img5{
  border: 2px solid #000;
  background-color: #000;
  color: #FFF;
  font-family: Letra;
  font-size: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img5 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img6{
  border: 2px solid #000;
  background-color: #000;
  color: #FFF;
  font-family: Letra;
  font-size: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img6 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img7{
  color: transparent;
  font-size: 0;
  float: left;
  margin: 0;
}
.img7 img{
  height: 0px;
  width: 0px;
}
.img8{
  color: transparent;
  font-size: 0;
  float: left;
  margin: 0;
}
.img8 img{
  height: 0px;
  width: 0px;
}
.img9{
  color: transparent;
  font-size: 0;
  float: left;
  margin: 0;
}
.img9 img{
  height: 0px;
  width: 0px;
}
.img10{
  color: transparent;
  font-size: 0;
  float: left;
  margin: 0;
}
.img10 img{
  height: 0px;
  width: 0px;
}

 
}

/*ESCRITORIO*/

@media (min-width:1199.98px){
  body{background-color: #000;}
  /*BARRA LATERAL*/
  .botón img{
    height: 40px;
  }
.menu ul{
  list-style: none;
  font-family: Letra;
  margin: 0;
  padding: 0;
  width: 250px;
  line-height: 81px;
  background-color: #000;
  float: left;
}
.menu li a{
  display: block;
  color: #FFF;
  padding: 0px 16px;
  text-decoration: none;
}
.menu li a:hover{
  background-color: #181818;
}
/*LINKS A OTRAS REMERAS*/

.linksremeras{
  background-color: #FFF;
  height: 60px;
  width: 85%;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 25px;
  padding: 20px;
  float: right;
  align-items: center;
  text-align: center;
}
.linksremeras li{
  list-style: none;
  display: inline;
  justify-content: space-between;
  padding: 0 97px;
}
.linksremeras li a{
  text-decoration: none;
  color: #131313;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 18px;
}
.linksremeras li a:hover{
  color: #afa3a3;
  transition: all 0.3s;
}

.precios{
  margin-top: 10px;
  background-color: #f0f0f0;
  height: 100%;
  width: 85%;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 25px;
  padding: 20px;
  float: right;
  text-align: center;
  align-items: center;
}
.precios img{
  height: 100px;
}
.img1{
  border: 3px solid #000;
  background-color: #000;
  color: #FFF;
  font-family: Letra;
  font-size: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  margin-left: 110px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.img1 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img2{
  border: 3px solid #000;
  background-color: #000;
  color: #FFF;
  font-family: Letra;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  margin-left: 110px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.img2 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img3{
  border: 3px solid #000;
  background-color: #000;
  color: #FFF;
  font-family: Letra;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  margin-left: 110px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.img3 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img4{
  border: 3px solid #000;
  background-color: #000;
  color: #FFF;
  font-family: Letra;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  margin-left: 110px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.img4 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img5{
  border: 3px solid #000;
  background-color: #000;
  color: #FFF;
  font-family: Letra;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  margin-left: 110px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.img5 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img6{
  border: 3px solid #000;
  background-color: #000;
  color: #FFF;
  font-family: Letra;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  margin-left: 110px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.img6 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img7{
  border: 3px solid #000;
  background-color: #000;
  color: #FFF;
  font-family: Letra;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  margin-left: 110px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.img7 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img8{
  border: 3px solid #000;
  background-color: #000;
  color: #FFF;
  font-family: Letra;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  margin-left: 110px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.img8 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img9{
  border: 3px solid #000;
  background-color: #000;
  color: #FFF;
  font-family: Letra;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  margin-left: 110px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.img9 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.img10{
  border: 3px solid #000;
  background-color: #000;
  color: #FFF;
  font-family: Letra;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  margin-left: 110px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.img10 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

}

/*TABLET*/
@media(min-width:576px) and (max-width:991.98px) and (orientation:portrait){
  body{background-color: #000;}

  /*BARRA LATERAL*/
  .menu ul{
  list-style: none;
  display: inline;
  justify-content: space-between;
  font-family: Letra;
  margin: 0;
  padding: 0;
  line-height: 80px;
  background-color: #000;
  float: left;
  }
  .menu li a{
  color: #FFF;
  padding: 0px 16px;
  text-decoration: none;
  }
  .menu li a:hover{
  background-color: #181818;
  }
}
  
  /*LETRA*/
@font-face{
  font-family: Letra;
  src: url("aAtmospheric.ttf");
}


  /*BARRA SUPERIOR*/
  header{
    background-color: #FFF;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 7%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
  }
  .logo img{
    height: 100px;
    width: auto;
    transition: all 0.3s;
    margin-top: 20px;
  }
  .logo img:hover{
    transform: scale(1.1);
  }
  
  .links{
    list-style: none;
  }
  .links li{
    display: inline-block;
    padding: 0 20px;
  }
  .links li:hover{
    transform: scale(1.1);
  }
  .links a{
    color: #000;
    text-decoration: none;
  }
  .botón button{
    padding: 9px 25px;
    background-color:#FFF;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .botón button:hover{
    transform: scale(1.1);
  }
  /*FIN BARRA SUPERIOR*/

  

/*REDES*/
.redes{
  text-align: center;
  align-items: center;
  width: auto;
  margin-top: 0;
}
.redes li{
  list-style: none;
  text-decoration: none;
  display: inline;
}
.redes img{
  width: 20px;
  margin: 5px;
}

/*LINKS A OTRAS REMERAS*/


.linksremeras li a:hover{
  color: #afa3a3;
  transition: all 0.3s;
}
